<% if @gratitude %>
<h1>Add a new comment for <%=@gratitude.user.email%>'s gratitude!</h1>
<h4>What they're grateful for:</h4>
<p><%= @gratitude.content %></p>
<% else %>
<h1>Add a new comment!</h1>
<% end %>


<%= form_for([@comment.gratitude, @comment]) do |f|%>

    <% if !@comment.gratitude %>
        <%= f.label :gratitude %>
        <%= f.collection_select :gratitude_id, Gratitude.all, :id, :title %>
    <% else %>
        <%= f.hidden_field :gratitude_id %>
    <% end %>

        <%= f.label "Say something nice!" %>
        <%= f.text_field :content, size: "60x50" %>

        <%= f.submit "Submit" %>
    <% end %>

<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this from being saved:</h2>

    <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>