<h1> <center> Create your Gratitudes! </center> </h1>
<br><br>

<%= render partial: "layout/error", locals: {object: @gratitude} %>

<br>

    <h3>
        <center>
            <%= form_for(@gratitude) do |grat| %>
                <%= Time.now.strftime("%A %m/%d/%Y %r") %>
                    <br><br>
                <%= grat.text_field :title, placeholder: "How was your day?", size: "40x30" %>
                    <br><br>
                <%= grat.text_area :content, placeholder: "Write 3 things your grateful for!", size: "55x15" %>
                    <br><br>
                <%= grat.submit %>
            <% end %>
        </center>
    </h3>