<h1> <center> Create your Gratitudes! </center> </h1>
<br><br>
    <h3>
        <center>
            <%= form_for(@gratitude) do |grat| %>
                <%= Time.now.strftime("%A %m/%d/%Y %r") %>
                    <br><br>
                <%= grat.text_field :title, placeholder: "Your title...", size: "40x30" %>
                    <br><br>
                <%= grat.text_area :content, placeholder: "Gratitude 1...", size: "45x8" %>
                    <br><br>
                <%= grat.text_area :content, placeholder: "Gratitude 2...", size: "45x8" %>
                    <br><br>
                <%= grat.text_area :content, placeholder: "Gratitude 3...", size: "45x8" %>
                    <br><br>
                <%= grat.submit %>
            <% end %>
        </center>
    </h3>

