<h1><center> <%= @gratitude.title %> </center></h1>
<center><p>Created on <%= @gratitude.created_at.strftime("%A %m/%d/%Y %r") %> </p></center>

<center><%= @gratitude.content %></p></center>
<br>

<%= button_to "Edit", edit_gratitude_path(@gratitude)%>
<%= button_to "Delete", gratitude_path(@gratitude), method: 'delete' %>

<h3>Comments</h3>
<p><%= link_to "Add a comment", new_gratitude_comment_path(@gratitude) %> </p>

  <% @gratitude.comments.order(updated_at: :desc).limit(3).each do |c|%>
      "<%= c.content %>" 
      <br>
      at <%=c.updated_at.strftime("%I:%M %p on %m/%d/%Y")%> by <strong><%= c.user.email%></strong>
      <br><br>
  <% end %>

<p> <%= link_to "See All Comments", gratitude_comments_path(@gratitude) %></p>

