<div class="nav">
    <ul>
        <% if !user_signed_in? %>
            <%= link_to "Log In", new_user_session_path %>
                <br>
            <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
                <br>    
            <%= link_to "Sign Up", new_user_registration_path  %>
        <% end %>
        <br>
        <% if user_signed_in? %>
            <%= link_to "Home", "/" %> |
            <%= link_to "Log Out", destroy_user_session_path, method: :delete %>  |  
            <%= link_to "All Gratitudes", gratitudes_path %> | 
            <%= link_to "Create Gratitudes", new_gratitude_path %>

        <% end %>
        <br>    
    </ul> 
</div>