<!DOCTYPE html>
<html>
  <head>
    <title>RailsGratitudeJournal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <%= render 'layouts/nav' %>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

      <div>
        <% if flash[:message] %>
          <%= flash[:message]  %>
        <% end %>
      </div>

       <p><%= @error %></p>

    <%= yield %>
    
  </body>
</html>


